body {font-family:Arial, Helvetica, sans-serif;
background-color:#36A3EB;
font-size:62.5%;

}

h1,h2 {color:red;font-family:georgia;}

h3 {color:#EBBB36}

h4 {color:#EB8963}

p {background-color:#EBBB36;}